<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Makers Connect</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <link href="bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/gsdk.css" rel="stylesheet"/>
    <link href="assets/css/demo.css" rel="stylesheet" /> 
    <link href="assets/css/custom.css" rel="stylesheet" /> 
        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>  
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    
</head>
<body>
	<div class="wrapper">
		<nav class="navbar navbar-ct-azure navbar-icons" role="navigation-demo">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Makers Connect</a>
        </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
           
          <ul class="nav navbar-nav navbar-right">
          
                 <li>
                   <a href="#" >
                        <i class="pe-7s-user"></i>
                        <p>My Profile</p>
                    </a>
                </li>

                 <li>
                   <a href="#" >
                        <i class="pe-7s-user"></i>
                        <p>Sign In</p>
                    </a>
                </li>

                <li>
                   <a href="#" >
                        <i class="pe-7s-user"></i>
                        <p>Sign Out</p>
                    </a>
                </li>

                <li>
                   <a href="#" >
                        <i class="pe-7s-user"></i>
                        <p>Sign Up</p>
                    </a>
                </li>

           </ul>
          
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav> 

<div class="container">

<!--     <div class="col-md-2"> </div> -->

		<div class="col xs-12 col-md-6">
    <div class="card card-horizontal">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="image">
                    <img src="assets/img/ben.png" alt="..."/>                                
                    <div class="filter filter-azure">
                        <button type="button" class="btn btn-neutral btn-round">
                            <i class="fa fa-user"></i> See More
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                 <div class="content">
                   <p class="category text-info">
                      Cohort
                    </p>

                    <a class="card-link" href="#">
                        <h4 class="title">User Name </h4>
                    </a>
                    <a class="card-link" href="#">
                        <p class="description">Current Position @ <span>Current Employer</span></p>
                    </a>

                     <div class="footer">
                        <div class="stats">
                            <a class="card-link" href="#">
                               <i class="fa fa-male"></i> Github
                            </a>
                        </div>

                        <div class="stats">
                            <a class="card-link" href="#">
                               <i class="fa fa-male"></i> Portfolio
                            </a>
                        </div>
                  
                        <div class="stats">
                          <a class="card-link" href="#">
                            <i class="fa fa-comments"></i> Linkedin
                          </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end card -->
	</div> <!-- col-6-md -->

    <div class="col xs-12 col-md-6">
    <div class="card card-horizontal">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="image">
                    <img src="assets/img/ben.png" alt="..."/>                                
                    <div class="filter filter-azure">
                        <button type="button" class="btn btn-neutral btn-round">
                            <i class="fa fa-user"></i> See More
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                 <div class="content">
                   <p class="category text-info">
                      Cohort
                    </p>

                    <a class="card-link" href="#">
                        <h4 class="title">User Name </h4>
                    </a>
                    <a class="card-link" href="#">
                        <p class="description">Current Position @ <span>Current Employer</span></p>
                    </a>

                     <div class="footer">
                        <div class="stats">
                            <a class="card-link" href="#">
                               <i class="fa fa-male"></i> Github
                            </a>
                        </div>

                        <div class="stats">
                            <a class="card-link" href="#">
                               <i class="fa fa-male"></i> Portfolio
                            </a>
                        </div>
                  
                        <div class="stats">
                          <a class="card-link" href="#">
                            <i class="fa fa-comments"></i> Linkedin
                          </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end card -->
  </div> <!-- col-6-md -->

  <div class="col-md-2"> </div>
</div> <!-- container -->


</div> <!-- wrapper -->
</body>

    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

	<script src="bootstrap3/js/bootstrap.js" type="text/javascript"></script>
	
	<!--  Plugins -->
	<script src="assets/js/gsdk-checkbox.js"></script>
	<script src="assets/js/gsdk-morphing.js"></script>
	<script src="assets/js/gsdk-radio.js"></script>
	<script src="assets/js/gsdk-bootstrapswitch.js"></script>
	<script src="assets/js/bootstrap-select.js"></script>
	<script src="assets/js/bootstrap-datepicker.js"></script>
	<script src="assets/js/chartist.min.js"></script>
    <script src="assets/js/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	
	<script src="assets/js/get-shit-done.js"></script>
	
    <script src="assets/js/demo.js"></script>
    
    <script>
        $().ready(function(){
            initMorphingButtons();
            initDemoChartist();
            initGoogleMaps();            
        });
    </script>
</html>