
#userSummary {
	max-height: 100px;
}

.card-horizontal {
	overflow: hidden;
}

.card-horizontal {

}

.card {

}

.card .image {
	border-radius: 6px;
	min-width: 100%;
}

.profile_image {
	max-height: 150px;
	border-radius: 0;
}

.card-horizontal .description {
	min-height: 20px;
}

.description {
}

.description span {
	font-weight: 600;
	color: #2ca8ff;
}

.main_profile {
	height: auto;
}

.navbar {
	border-radius: 0;
}

.profile_top {
	border-bottom: 1px solid grey;
}

.languages {
	text-align: justify;
	border-bottom: 1px solid #2ca8ff;
	padding-bottom: 20px;
}

.personal_statement {
	text-align: justify;
	padding-bottom: 20px;
}


.profile_location{
	text-align: right;
	color: black;
}

h4 {
	color: #2ca8ff;
	font-weight: 400;
}

.custom_filter {
	background: none !important;
}

.bottom_pad {
	padding-bottom: 15px;
}

.right_form {
	margin-top: 45px;
}

.full_width {
	width: 100%;
}

.center_title {
	text-align: center;
}

.margin-left {
	margin-left: 15px;
}

.max-150 {
	max-height: 150px;
}


.max-height-150 {
	max-height: 150px;
}

.max-150-width {
	max-width: 180px;
}

.no-overflow {
	overflow: hidden;
}

.height-150 {
	height: 150px !important;
}

